<div>
  <app-square (click)="MakeMark(0)" place = "0"></app-square><app-square (click)="MakeMark(1)" place="1"></app-square ><app-square (click)="MakeMark(2)" place="2"></app-square>
</div>
<div>
  <app-square (click)="MakeMark(3)" place="3"></app-square ><app-square (click)="MakeMark(4)" place="4"></app-square><app-square (click)="MakeMark(5)" place="5"></app-square>
</div>
<div>
  <app-square (click)="MakeMark(6)" place="6"></app-square><app-square (click)="MakeMark(7)" place="7"></app-square ><app-square (click)="MakeMark(8)" place="8"></app-square>
</div>

<h2>
	{{winner}}
</h2>
